# macOS system files
*.DS_Store

# compiled output
/dist
/tmp

# uncompiled css file
/assets/css/styles.css

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try